body {
  background-color: #FCFCFC;
  color: #303E4E;
  font-family: 'Lato';
  text-align: center;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

.mdi-icon {
    fill: currentColor;
    height: 30px;
    padding-bottom: 5px;
    vertical-align: middle;
    width: 30px;
}

.App-header {
  background-color: #282C34;
  color: #FCFCFC;
  padding: 40px;
}

.App-name > .mdi-icon {
    height: 60px;
    width: 60px;
}

.App-name {
  align-items: center;
  display: flex;
  font-size: 2.5em;
  justify-content: center;
  margin: 0px;
}

.App-headline {
  font-size: 1.5em;
  margin: 0px;
}

.App-headline-react {
  color: #80D8F7;
  padding: 4px;
}

.App-headline-material-ui {
  color: #3480C5;
  padding: 4px;
}

.App-city-name {
  font-size: 1.5em;
  margin-bottom: 5px;
  margin-top: 40px;
}

.App-location-info {
  margin-top: 0px;
}

.App-progress {
  color: #3480C5;
  margin-bottom: 40px;
  margin-top: 60px;
}
