.LocationSearch-suggestion-icon {
  margin-right: 8px;
}

.LocationSearch-search-bar-container {
  margin: 40px auto 0;
  max-width: 500px;
  width: 90%;
}

.LocationSearch-search-input-container {
  position: relative;
}

.LocationSearch-search-input,
.LocationSearch-search-input:focus,
.LocationSearch-search-input:active {
  border-radius: 2px;
  border: honeydew;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  outline: none;
  padding: 16px;
  width: 100%;
}

.LocationSearch-clear-button,
.LocationSearch-clear-button:active,
.LocationSearch-clear-button:focus {
  background: transparent;
  border: none;
  color: #999;
  font-weight: 600;
  outline: none;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.LocationSearch-autocomplete-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-radius: 0 0 2px 2px;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  width: 500px;
}

.LocationSearch-suggestion-item {
  background-color: #fff;
  cursor: pointer;
  padding: 8px;
  text-align: left;
}

.LocationSearch-suggestion-item--active {
  background-color: #fafafa;
}