.ForecastCard-title {
  font-size: 1.1em;
  text-transform: capitalize;
}

.ForecastCard-date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75em;
  padding: 10px;
}

.ForecastCard-temp {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ForecastCard-temp-icon {
  width: 65px;
  height: 65px;
}

.ForecastCard-temp-text {
  font-size: 1.4em;
}

.ForecastCard-single-metric {
  font-size: 0.8em;
  margin: 5px;
}